# Pandas Data Series [40 exercises]

In [1]:
import pandas as pd
import numpy as np

In [3]:
#1 Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
data = pd.Series([9,8,7,6,5,4,3,2,1,])
print(data)

0    9
1    8
2    7
3    6
4    5
5    4
6    3
7    2
8    1
dtype: int64

In [6]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
data = pd.Series([9,8,7,6,5,4,3,2,1,])
print(type(data))
lis = data.tolist()
print(type(lis))

<class 'pandas.core.series.Series'>
<class 'list'>

In [10]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series

data1 = pd.Series([2, 4, 6, 8, 10])
data2 = pd.Series([1, 3, 5, 7, 9])

print(data1 + data2, data1 - data2, data1 * data2 ,data1 / data2)

0     3
1     7
2    11
3    15
4    19
dtype: int64 0    1
1    1
2    1
3    1
4    1
dtype: int64 0     2
1    12
2    30
3    56
4    90
dtype: int64 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [13]:
#4 Write a Pandas program to compare the elements of the two Pandas Series.
data1 = pd.Series([2, 4, 6, 8, 10])
data2 = pd.Series([1, 3, 5, 7, 10])

print("Equal : ")
print(data1 == data2)

print("greater : ")
print(data1 > data2)

print("lesser : ")
print(data1 < data2)

Equal :
0    False
1    False
2    False
3    False
4     True
dtype: bool
greater :
0     True
1     True
2     True
3     True
4    False
dtype: bool
lesser :
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [15]:
#5 Write a Pandas program to convert a dictionary to a Pandas series
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ser = pd.Series(dic)
print(ser)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [17]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series
np_arr = np.array([10, 20, 30, 40, 50])
ser = pd.Series(np_arr)
print(ser)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [20]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

data = pd.Series([100,200,'python',300.12,400])
data = pd.to_numeric(data,errors='coerce')
print(data)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [ ]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.